<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="bg-gradient-to-r from-blue-500 to-green-400 min-h-screen flex flex-col items-center justify-center">

    <div class="max-w-xl mx-auto mt-10 bg-white p-6 rounded shadow">
  <h2 class="text-2xl font-bold">Welcome, {{ user.username }}!</h2>
  <p>Your email: {{ user.email }}</p>
  <a href="{% url 'logout' %}" class="text-blue-600 underline mt-4 inline-block">Logout</a>
  </div>
</div>
</body>
</html>


