<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="bg-gradient-to-r from-blue-500 to-green-400 min-h-screen flex flex-col items-center justify-center">
      <div class="bg-gradient-to-r from-pink-500 to-violet-500 text-white p-4 text-center text-xl font-bold rounded">
    Welcome to The Login Page!
  </div>
        <div class="mt-6 w-full max-w-md">
    <form method="POST" class="max-w-md mx-auto mt-10 p-6 bg-white rounded shadow">
  {% csrf_token %}
  <input name="username" placeholder="Username" class="block w-full p-2 border mb-3 rounded" />
  <input name="password" type="password" placeholder="Password" class="block w-full p-2 border mb-3 rounded" />
  <button class="bg-green-500 text-white px-4 py-2 rounded">Login</button>
  {% for message in messages %}
    <p class="text-red-500 mt-2">{{ message }}</p>
  {% endfor %}
  </div>
  </div>
  </div>
</form>
</body>
</html>

